body {
		font-family: "Helvetica Neue", Helvetica, sans-serif;
		font-size: 14px;
	}
	#wrapper {
		height: 400px;
	}

	.country {
		height: 20px;
		position: relative;
	}
	.country .label {
		width: 200px;
		text-align: right;
	}
	.country .bar {
		height: 19px;
		background-color: steelblue;
		position: absolute;
		left: 200px;
	}
	.country div {
		display: inline-block;
	}
	.chart rect { fill: steelblue; }
	
#tooltip {
    opacity: 0;
    position: absolute;
    text-align: right;
	right: 40px; 
    top: 50px; 
    width: 200px; height: 100px;
    background: white;
    border: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: steelblue;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

circle {fill: lightblue; stroke: black;}